<%= div_for(article) do %>
  <h1 class="title"><%= article.title %></h1>
  <div class="byline">By <%= article.author.email %></div>
  <div class="dateline">Published at <%= article.created_at %> (<%= time_ago_in_words(article.created_at) %> ago)</div>
  <div class="stats"><div class="comments_count" id="<%= dom_id(article)%>-comments_count"><%= pluralize(article.comments_count, "comment") %></div><div class="hits_count" id="<%= dom_id(article)%>-hits_count"><%= pluralize(article.comments_count, "hit") %></div></div>
  <div class="body"><%= article.body %></div>
  <ul class="buttons">
    <li><%= link_to 'Reply' %></li>
    <li><%= link_to 'Thread', thread_board_article_path(@board, article) %></li>
    <% if article.user_id == current_user.id %>
    <li><%= link_to 'Edit', edit_board_article_path(@board, article), :class => "button" %></li>
    <li><%= link_to 'Delete', board_article_path(@board, article), :confirm => 'Are you sure?', :method => :delete %></li>
    <% end %>
  </ul>
<% end %>