<%= div_for(@article) do %>
  <h1 class="title"><%= @article.title %></h1>
  <div class="body"><%= @article.body %></div>

  <ul class="buttons">
    <li><%= link_to 'Reply' %></li>
    <li><%= link_to 'Thread' %></li>
    <li><%= link_to 'Edit', edit_board_article_path(@board, @article), :class => "button" %></li>
    <li><%= link_to 'Delete', board_article_path(@board, @article), :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
<% end %>

<%= articles(@board.articles)%>