<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @board.group_id %>
</p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>Max article no:</b>
  <%= @board.max_article_no %>
</p>

<p>
  <b>Max comment no:</b>
  <%= @board.max_comment_no %>
</p>

<p>
  <b>Articles count:</b>
  <%= @board.articles_count %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
